apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-cloudflare
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
type: Opaque
stringData:
  api-token: aaaaaaaaaaaaaaaaaaaaaaaaaaa